.content {
  text-align: center;
  margin-top: 40px;
}

.content h1 {
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 40px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.active-link {
  font-weight: bold;
}
