<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/cryptos" routerLinkActive="active-link" (click)="drawer.close()">Top Cryptocurrencies</a>
      <a mat-list-item routerLink="/login" routerLinkActive="active-link" (click)="drawer.close()">Home</a>
      <app-google-signin></app-google-signin>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">The Crypto App</span>
      <div *ngIf="!user">
        <button mat-button >
          <mat-icon><a mat-list-item routerLink="/login" routerLinkActive="active-link">Login</a></mat-icon>
        </button>
      </div>
      <div *ngIf="user"class="user">
        <span>Welcome, {{ user.name }}!</span>
        <!-- You can also display the user's photo -->
        <img [src]="user.photoUrl" class="small-user" alt="User's Photo" (click)="signOut()">
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


